<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-plugin-system-sound-services"
    version="1.2.0">
    <name>Cordova Plugin System Sound Services</name>
    <description>Play system sound services</description>
    <license>MIT</license>
    <keywords></keywords>
    <repo>https://github.com/driftyco/cordova-plugin-template.git</repo>
    <issue>https://github.com/driftyco/cordova-plugin-template/issues</issue>

    <platform name="ios">
        <js-module src="www/plugin.js" name="plugin">
            <runs/>
            <clobbers target="SystemSound" />
        </js-module>
        <config-file target="config.xml" parent="/*">
            <feature name="SystemSound">
                <param name="ios-package" value="SystemSound" onload="true" />
            </feature>
        </config-file>

        <header-file src="src/ios/SystemSound.h" />
        <source-file src="src/ios/SystemSound.m" />
    </platform>
</plugin>
